@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div>
    <form method="post">
        <label>Name</label>
        <input asp-for="Product.Name" />
        <label>Description</label>
        <input asp-for="Product.Desctription" />
        <label>Value</label>
        <input asp-for="Product.Value" />
        <input type="submit" value="Save Product" />
    </form>


</div>*@

<div class="section">
    <div class="columns is-multiline is-mobile ">
        @{
            
                foreach (var p in Model.Products)
                {
                    <div class="column is-3-desktop is-4-tablet is-6-mobile"  >
                        <a asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")">
                            <div class="card" >
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="~/images/cigarets.jpg" />
                                        @*<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">*@
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-size-5">
                                        @p.Name  @p.Value
                                    </p>
                                    <p class="subtitle">
                                        @p.Desctription
                                    </p>

                                    @{ 
                                        string cssClass = "";
                                        string text = "";
                                        if (p.StockCount == 0)
                                        {
                                            cssClass = "is-danger";
                                            text = "Out Of Stock";
                                        }
                                        else if (p.StockCount <= 9)
                                        {
                                            cssClass = "is-warning";
                                            text = "Low Of Stock";
                                        }

                                    }
                                    @if (p.StockCount <= 9)
                                    {

                                        <div class="notification is-paddingless has-text-centered  @cssClass">
                                            @text
                                        </div>
                                    
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
            
        }
    </div>
</div>
